{% load custom_tags %}
{% get_cart_total_qty request as total %}

<header class="header bg-white">
    <div class="container px-lg-3">
        <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="{% url 'store:home' %}"><span
                class="fw-bold text-uppercase text-dark">Boutique</span></a>
            <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        {% if request.path == '/' %}
                        <a class="nav-link active" href="{% url 'store:home' %}">Home</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'store:home' %}">Home</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if '/shop/' in request.path %}
                        <a class="nav-link active" href="{% url 'store:shop' %}">Shop</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'store:shop' %}">Shop</a>
                        {% endif %}
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'cart:home' %}"> <i
                            class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart<small
                            class="text-gray fw-normal">({{ total }})</small></a></li>
                    <li class="nav-item"><a class="nav-link" href="#!"> <i class="far fa-heart me-1"></i><small
                            class="text-gray fw-normal"> (0)</small></a></li>
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:home' %}"> <i
                            class="fas fa-user me-1 text-gray fw-normal"></i>Login</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}"> <i
                            class="fas fa-user me-1 text-gray fw-normal"></i>Logout</a></li>
                    <li class="nav-item">
                        <span class="nav-link text-danger">{{ request.user.first_name }}</span>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>